<ion-content class="ion-padding">
  <ion-card class="form-container text-center">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Connexion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input class="form-control"
            type="email"
            formControlName="email"
            placeholder="Entrez votre email"
          ></ion-input>
        </ion-item>

     
        <ion-item>
          <ion-label position="floating">Mot de passe</ion-label>
        <ion-input class="form-control"
            type="password"
            formControlName="password"
            placeholder="Entrez votre mot de passe"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <p class="ion-padding-start">Le mot de passe et l'email sont  requis .</p>
        </ion-text>

    
        <div class="ion-text-center ion-margin-top">
          <ion-button expand="block" type="submit" >
            Se connecter
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
