<ion-content class="ion-padding">
  <div class="form-container">
    <h2>Donner un avis</h2>

    <ion-label>Note :</ion-label>
 <div class="stars">
  <span *ngFor="let star of stars; let i = index"
        (click)="setNote(i + 1)"
        [class.filled]="i < note">&#9733;</span>
</div>



    <ion-label>Commentaire :</ion-label>
    <ion-textarea
      [(ngModel)]="commentaire"
      rows="4"
      placeholder="Votre commentaire ici...">
    </ion-textarea>

    <div class="ion-text-center ion-margin-top">
      <ion-button (click)="envoyerFeedback()" color="primary">
        Envoyer
      </ion-button>
    </div>
  </div>
</ion-content>
