<ion-content class="ion-padding">
  <ion-card class="form-container">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Inscription</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <ion-item class="ion-margin-top ">
          <ion-label position="stacked">Nom d'utilisateur</ion-label>
          <ion-input type="text" formControlName="username" placeholder="Entrez votre nom"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top ">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email" placeholder="Entrez votre email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top ">
          <ion-label position="stacked">Mot de passe</ion-label>
          <ion-input type="password" formControlName="password" placeholder="Entrez votre mot de passe"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top ">
          <ion-label position="stacked">Confirmez le mot de passe</ion-label>
          <ion-input type="password" formControlName="confirmPassword" placeholder="Confirmez le mot de passe"></ion-input>
        </ion-item>

        <div class="ion-text-center ion-margin-top">
          <ion-button expand="block" type="submit" (click)="goTo('/profile-setup')">
            S'inscrire
          </ion-button>
        </div>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
