<ion-content class="ion-padding">
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nouvelle Question</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="full-width">
          <ion-label position="floating">Titre</ion-label>
          <ion-input [(ngModel)]="title" type="text"></ion-input>
        </ion-item>

        <ion-item class="full-width">
          <ion-label position="floating">Contenu</ion-label>
          <ion-textarea [(ngModel)]="content" rows="4"></ion-textarea>
        </ion-item>

        <div class="ion-text-end ion-margin-top">
          <ion-button color="primary" (click)="submit()">
            Publier
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
