<ion-content class="ion-padding">
  <div class="form-container">
    <ion-card *ngFor="let q of questions">
      <ion-card-header>
        <ion-card-title>{{ q.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ q.content }}
      </ion-card-content>

      <ion-card-content>
        <ion-button fill="clear" size="small" (click)="vote(q.id)">
          <ion-icon name="thumbs-up-outline" slot="start"></ion-icon>
          {{ q.votes }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
